<% if @requests.count < 1 %>
  <div class="row box-center text-center">
    <span class="request-text">
      No requests yet!
    </span>
  </div>
<% else %>
  <% @requests.each do |request| %>
    <div class="row box-center text-center">
      <% if request.sender.avatar? %>
      <%= image_tag(request.sender.avatar.url(:avatar), class: "request-avatar") %>
        <% else %>
        <%= image_tag "defaultpicture.png", class: "request-avatar"%>
        <% end %>
      <span class="request-text">
      <%= request.sender.full_name  %>
        has requested to follow you!
    </span>
      <%= form_with model: request, method: :patch, local: true do |form| %>
        <%= hidden_field_tag :is_accepted, true %>
        <%= form.submit "Accept", class: "btn edit-profile-btn" %>
      <% end %>
      <%= form_with model: request, method: :patch, local: true do |form| %>
        <%= hidden_field_tag :is_accepted, false %>
        <%= form.submit "Decline", class: "btn edit-profile-btn" %>
      <% end %>
    </div>
  <% end %>
<% end %>